<%= javascript_include_tag "finish_funding" %>
<%= javascript_include_tag "smooth-scroll.min" %>

<div class="row">
  <div class="col-sm-12 col-sm-12">
    <h4 class="page-header">Your new funding source</h4>
    <a class="btn-info btn-sm" id="new_fs_toggle">Show/Hide</a>
    <div id="new_fs_lexed">
      <p><%== Parser.md.render(@funding_source).html_safe %></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-sm-12">
    <h4 class="page-header" id="move_money_header">Let's move some money</h4>
    <div class="well">
      Now that your customer has a verified funding source, you're ready to receive money from them. Let's collect a penny on behalf of the account that this application is associated to. In the real world, this would be how a business owner would collect web payments using Dwolla online.
    </div>
    <p><%== Parser.md.render(@transaction_model).html_safe %></p>
    <a class="btn btn-primary btn-block" href="/finish_move">Send a Penny</a>
    <br />
  </div>
</div>
