<div class="jumbotron">
  <h1>No headache</h1>
  <p class="lead">Adding a funding source by having to dig up account and routing numbers is a pain. Leverage dwolla.js and a few lines of code to add a funding source by just remembering your online banking credentials.</p>
  <p><a class="btn btn-lg btn-success" href="#">Give it a whirl</a></p>
</div>
<div class="row marketing">
  <div class="col-lg-6">
    <h4>Looking for API Docs?</h4>
    <p>Visit our developer portal for more.</p>
  </div>
  <div class="col-lg-6">
    <h4>Looking for code?</h4>
    <p>Visit our GitHub organization to grab our latest SDKs and software solutions.</p>
  </div>
  <div class="col-lg-6">
    <a class="btn btn-default" href="http://developers.dwolla.com">View Resources »</a>
  </div>
  <div class="col-lg-6">
    <a class="btn btn-default" href="http://github.com/Dwolla">View Code »</a>
  </div>
</div>