<div class="header">
  <ul class="nav nav-pills pull-right">
    <%- if action_name == "finish_move_money" %>
    <li>
      <a href="/">Try again?</a>
    </li>
    <%- else %>
    <li class=<%= "active" if action_name == "landing" %>>
      <a href="/">Welcome</a>
    </li>
    <li class=<%= "active" if action_name == "create_customer" %>>
      <a>Create a Customer</a>
    </li>
    <li class=<%= "active" if action_name == "create_funding" %>>
      <a>Add a Funding Source</a>
    </li>
    <li class=<%= "active" if action_name == "finish_funding" %>>
      <a>Move Money</a>
    </li>
    <%- end %>
  </ul>
  <h3 class="text-muted">Dwolla IAV</h3>
</div>