<div class="header">
  <ul class="nav nav-pills pull-right">
    <li <%= "class=active" if action_name == "landing" %>>
      <a href="/">Welcome</a>
    </li>
    <li <%= "class=active" if action_name == "create_customer" %>>
      <a href="#">Create a Customer</a>
    </li>
    <li <%= "class=active" if action_name == "create_funding" %>>
      <a href="#">Add a Funding Source</a>
    </li>
  </ul>
  <h3 class="text-muted">Dwolla IAV</h3>
</div>